In [1]:
import pandas as pd
import datetime

In [2]:
df_base = datetime.datetime.today()
df_date_list = [df_base-datetime.timedelta(days = x) for x in range (0,20)]
df = pd.DataFrame(df_date_list)
df.columns = ["day"]
df['day']

0    2023-03-17 23:23:44.779937
1    2023-03-16 23:23:44.779937
2    2023-03-15 23:23:44.779937
3    2023-03-14 23:23:44.779937
4    2023-03-13 23:23:44.779937
5    2023-03-12 23:23:44.779937
6    2023-03-11 23:23:44.779937
7    2023-03-10 23:23:44.779937
8    2023-03-09 23:23:44.779937
9    2023-03-08 23:23:44.779937
10   2023-03-07 23:23:44.779937
11   2023-03-06 23:23:44.779937
12   2023-03-05 23:23:44.779937
13   2023-03-04 23:23:44.779937
14   2023-03-03 23:23:44.779937
15   2023-03-02 23:23:44.779937
16   2023-03-01 23:23:44.779937
17   2023-02-28 23:23:44.779937
18   2023-02-27 23:23:44.779937
19   2023-02-26 23:23:44.779937
Name: day, dtype: datetime64[ns]

In [3]:
df["day_of_week"] = df['day'].dt.strftime('%A')

In [4]:
df.head()

                         day day_of_week
0 2023-03-17 23:23:44.779937      Friday
1 2023-03-16 23:23:44.779937    Thursday
2 2023-03-15 23:23:44.779937   Wednesday
3 2023-03-14 23:23:44.779937     Tuesday
4 2023-03-13 23:23:44.779937      Monday

In [5]:
weekday_map = {'Monday' : 1,
              'Tuesday' : 2,
              'Wednesday' : 3,
              'Thursday' : 4,
              'Friday' : 5,
              'Saturday' : 6,
              'Sunday' : 7
              }

In [8]:
df['originial_day'] = df['day_of_week'].map(weekday_map)

In [9]:
df.head(10)

                         day  day_of_week  originial_day
0 2023-03-17 23:23:44.779937            5            NaN
1 2023-03-16 23:23:44.779937            4            NaN
2 2023-03-15 23:23:44.779937            3            NaN
3 2023-03-14 23:23:44.779937            2            NaN
4 2023-03-13 23:23:44.779937            1            NaN
5 2023-03-12 23:23:44.779937            7            NaN
6 2023-03-11 23:23:44.779937            6            NaN
7 2023-03-10 23:23:44.779937            5            NaN
8 2023-03-09 23:23:44.779937            4            NaN
9 2023-03-08 23:23:44.779937            3            NaN